@font-face {
	font-family: 'MuseoSansCyrl-300';
	src: url('../fonts/museosanscyrl-300.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/museosanscyrl-300.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/museosanscyrl-300.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/museosanscyrl-300.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/museosanscyrl-300.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/museosanscyrl-300.svg#museosanscyrl-300') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: 'Tahoma Regular';
    src: url('../fonts/Tahoma.eot');
    src: url('../fonts/Tahoma.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Tahoma.woff') format('woff'),
    url('../fonts/Tahoma.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }


#ul {
    position: absolute;
    
    left: 75%;
    
}
  .navbar-container .navbar {
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100%;
}
  .navbar-container .navbar-collapse {
    align-items: flex-start;
}
  .navbar-container .nav {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .navbar-container .navbar-nav {
    flex-direction: column !important;
  }

header {
    background: url(../img/1.png) center / cover no-repeat #666;
    min-height: 520px; /* также определим минимальную высоту хедера */
    padding-top: 50px; /* и добавим отступы для содержимого */
    text-align: center;
    padding-bottom: 50px;
}

#topbar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
}

.menu li {
    display: inline-block;
    text-transform: uppercase;
}

.menu li a {
    padding: 0px;
    display: block;
    text-decoration: none;
    color: #fff;
    font-family: 'Gilroy';
    margin-right: 35px;
    text-transform: capitalize;
    font-family: 'MuseoSansCyrl-300';
}
a{
    text-decoration: none;
    color: #fff;
}
.menu li a:hover {
    background-color:#FF7475;
}
.topbar-title-text{
    font-family: 'Tahoma Regular';
}

.topbar-title-text-page{
    color: #FF7475;
    padding-top: 100px;
    font-weight: bold;
}

.topbar-title-text-page-two{
    font-family: 'Tahoma Regular';
    margin-top: -20px;
    color: #fff;
    font-size: 30px;
}

.topbar-title-text-page-thre{
    color: #fff;
    font-weight: bold; 
}

.visually-hidden{
    font-size: 21px;
    color: black;
}

.title{
    font-size: 24px;
    color: #FF7475;
    text-decoration: none;
    width: 1024px;
}

.text-blog-page{
    margin-top: 50px;
    position: sticky;
}
.title-text{
    font-family: 'Tahoma Regular';
    font-size: 20px;
    color: #939393;
    font-weight: bolder;
}

.title-text-page{
    font-family: 'Tahoma Regular';
    font-size: 15px;
    color: #939393;
    padding-bottom: 80px;
    
}

#img-size-1{
    width: 23%; 
    float: right;
}
#img-size-2{
    width: 23%;
    float: left;
    padding-right: 18px;
}
#img-size-3{
    width: 23%;
    float: right;  
}

#img-size-4{
    width: 23%;
    float: left;
    padding-right: 18px;
    padding-bottom: 17px;
}

#img-size-5{
    width: 22%;
    float: right;
}


.text-blog-page-laminat{
    width: 600px;
    margin-top: -220px;
    margin-left: 70px;
    float: left;
    display: block;
}
.title-text-laminat{
    font-size: 18px;
    color: #939393;
}
.title-text-page-laminat{
    font-size: 14px;
    font-weight: 120;
    color: #939393;
    width: 500px;
}


.text-blog-page-laminat-position{
    width: 55%;
    margin-top: -80px;   
}


.text-blog-page-laminat-three{
    width: 600px;
    margin-top: -220px;
    margin-left: 70px;
    float: left;
    display: block;
}
.list-title{
    float: left;
    font-size: 18px;
    font-weight: 180px;
    color: #af1e1e;
    margin-top: -1270px;
    margin-left: 982px;
}

.llist-group-item{
    color: #939393; 
}


a {font-size:16px; color:#ff6600}
a:hover {font-size:16px; color:black; font-weight:bold}

#spisok-title{
    font-size: 29px;
    color: #939393;
    text-align: center;
    font-weight: bold;
}
#title-menu{
    font-size: 29px;
    color: #939393; 
    text-align: center;
    font-weight: bold;
}

#title-menu-1{
    color: #939393;  
}
#title-menu-2{
    color: #939393;  
}
#title-menu-3{
    color: #939393;  
}
#title-menu-4{
    color: #939393;  
}
#title-menu-5{
    color: #939393;  
}
#title-menu-6{
    color: #939393;  
}
#title-menu-7{
    color: #939393;  
}
#title-menu-8{
    color: #939393;  
}
#title-menu-9{
    color: #939393;  
}
#title-menu-10{
    color: #939393;  
}
#title-menu-11 {
    color: #939393;  
}
#title-menu-12{
    color: #939393;  
}
.page-title-laminat{
    color: #939393;
    font-weight: 170px;
}
.page-title-laminat-title{
    color: #939393;
    font-weight: bold;
}
.carousel-inner-blog{
    color: #FF7475;
}
.carousel-inner-title{
color: #fff;
}
.carousel-inner-page{
    color: #fff;
    font-size: 22px;
}
